<html lang="en">
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Your email verification code</p>
    <p> 
      {{otp}} <br>
      Code is active for 10 minutes only, one time use. 
    </p>
  </body>
</html>